page-amount {
  @font-face {
    font-family: Athiti;
    src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
    }
    .head-font {
      font-family: Athiti, sans-serif;
      src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
      }
      ion-content {
        font-size: 13pt;
        font-family: Athiti, sans-serif;
        src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
      } 
      .title{
        font-size: 13pt;
        font-family: Athiti, sans-serif;
        src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
        font-weight: bold;
      }
      .text-center{
        text-align: center;
      }
}
