page-work-show {
    .head-font {
        font-family: "Athiti", sans-serif;
    }
    ion-content {
        font-size: 16px;
        font-family: "Athiti", sans-serif;
    }
    ion-item {
        margin-top: 20px;
    }

    .padding{
      padding: 20px ;
    }
    .p{
        color:#111;
    }
}
