page-tab-etc {
    .head-font {
        font-family: Athiti, sans-serif;
        src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
      }
      ion-content {
        font-size: 18px;
        font-family: Athiti, sans-serif;
        src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
      }
      .font{
        font-size: 16px;
        font-family: Athiti, sans-serif;
        src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
      }
      .avatar {
        margin: 8px;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: 5px solid rgb(219, 219, 219);
      }
      .text-center{
        text-align: center;
      }
      .btn{
        font-size: 16pt;
        font-family: Athiti, sans-serif;
        background-color: #e75559;
        src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
        text-align: center;
      }
}
