page-tab-home {
  
.body {
  font-family: "Athiti-Light" !important;
  font-size: 13pt;
}
    li {
            font-family: Athiti, sans-serif;
    src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
      }
      .h-font {
        font-size: 15pt;
        font-weight: bold;
            font-family: Athiti, sans-serif;
    src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
      }
      .head-font {
            font-family: Athiti, sans-serif;
    src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
      }
      .title-font {
            font-family: Athiti, sans-serif;
    src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
      }
      .btn_in{
        font-size: 16pt;
        // font-weight: bold;
            font-family: Athiti, sans-serif;
    src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
        background-color: #6d6ccc;
      }
      .btn_out{
        font-size: 16pt;
        // font-weight: bold;
            font-family: Athiti, sans-serif;
    src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
        background-color: #816666;
      }
}
