<link href="https://fonts.googleapis.com/css?family=Athiti|Bai+Jamjuree" rel="stylesheet">
<ion-header>
  <ion-navbar>
    <ion-title class="head-font">
      บันทึกการทำงานนอกพื้นที่
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item>
      <ion-label color="dark" floating>ชื่อสถานที่</ion-label>
      <ion-input type="text" [(ngModel)]="place_name" name="place_name"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label>จังหวัด</ion-label>
      <ion-select [(ngModel)]="province" name="province">
        <ion-option *ngFor="let data of jParse" value="{{ data.prov_id }}">{{ data.prov_name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines>
      <ion-label>อำเภอ</ion-label>
      <ion-select [(ngModel)]="dist" name="dist">
        <ion-option value="f">อำเภอ</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines>
      <ion-label>ตำบล</ion-label>
      <ion-select [(ngModel)]="subdist" name="subdist">
        <ion-option value="f">ตำบล</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="dark" floating>รายละเอียดงาน</ion-label>
      <ion-input type="text" [(ngModel)]="detail" name="detail"></ion-input>
    </ion-item>
    <p style="text-align: center;"><img *ngIf="myPhoto" src="{{ myPhoto }}"></p>
    <button ion-button full class="btn" (click)="takePhoto()">
      เพิ่มรูป
    </button>
    <button ion-button full class="btn" (click)="workSubmit()">
      บันทึก
    </button>
  </form>
</ion-content>


<script type="text/javascript">
  $('#province').change(function () {
    if ($(this).val() != '') {
      var select = $(this).val();
      var _token = $('input[name="_token"]').val();
      $.ajax({
        url: "http://192.168.2.165:8000/api/district/",
        method: "POST",
        data: { select: select, _token: _token }
      })
    }
  });
</script>