page-day-create {
  ion-title{
    font-size: 18pt;
  }
  .head-font {
    font-size: 16pt;
    font-family: Athiti, sans-serif;
    src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
  }
  ion-content {
    font-size: 16pt;
    font-family: Athiti, sans-serif;
    src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
  }
  .header{
    font-size: 16pt;
    font-family: Athiti, sans-serif;
    src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
  }
  .btn{
    font-size: 14pt;
    font-weight: bold;
    font-family: Athiti, sans-serif;
    src: url(../assets/fonts/Athiti-Light.ttf) format("ttf");
    background-color: #6d6ccc;
  }
}
