page-day-create {
  ion-title{
    font-size: 18pt;
  }
  .head-font {
    font-size: 16pt;
    font-family: "Athiti", sans-serif;
  }
  ion-content {
    font-size: 16pt;
    font-family: "Athiti", sans-serif;
  }
  .header{
    font-size: 16pt;
    font-family: "Athiti", sans-serif;
  }
  .btn{
    font-size: 14pt;
    font-weight: bold;
    font-family: "Athiti", sans-serif;
    background-color: #2e89ba;
  }
}
