page-time-show {
    .head-font {
        font-family: "Bai Jamjuree", sans-serif;
      }
      ion-content {
        font-size: 16px;
        font-family: "Bai Jamjuree", sans-serif;
      }
      ion-item {
        margin-top: 20px;
      }
}
